{% load static %}

<section
  id="section-why-choose-us-2"
  class="wpb_row vc_row-fluid vc_custom_1480068996195"
>
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div
              class="wpb_single_image wpb_content_element vc_align_left vc_custom_1662935172671"
            >
              <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper vc_box_border_grey">
                  <img
                    width="720"
                    height="608"
                    src="{% static 'xC03.jpg' %}"
                    class="vc_single_image-img attachment-full"
                    alt=""
                    decoding="async"
                    loading="lazy"
                    title="xC03"
                    sizes="(max-width: 720px) 100vw, 720px"
                  />
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container vc_col-sm-8">
        <div class="vc_column-inner">
          <div
            class="wpb_wrapper wow fadeInUp animated"
            style="visibility: visible; animation-name: fadeInUp"
          >
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div
                    class="wpb_wrapper wow fadeInRight animated"
                    style="visibility: visible; animation-name: fadeInRight"
                  >
                    <!-- OT Info Apps 2 -->
                    <div class="box-icon">
                      <span
                        class="icon wow fadeIn animated"
                        data-wow-delay='"1.25s"'
                        style="visibility: visible; animation-name: fadeIn"
                      >
                        <i class="id-color icon-wallet"></i>
                      </span>

                      <div class="text">
                        <h3>DISCOUNT PRICES</h3>
                        <p>
                          Pre-sale tickets and Meet &amp; Greet opportunities:
                          You can get early access and backstage access to
                          concert and movie premier.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div
                    class="wpb_wrapper wow fadeInRight animated"
                    data-wow-delay=".25s"
                    style="
                      visibility: visible;
                      animation-delay: 0.25s;
                      animation-name: fadeInRight;
                    "
                  >
                    <!-- OT Info Apps 2 -->
                    <div class="box-icon">
                      <span
                        class="icon wow fadeIn animated"
                        data-wow-delay='".75s"'
                        style="visibility: visible; animation-name: fadeIn"
                      >
                        <i class="id-color icon-trophy"></i>
                      </span>

                      <div class="text">
                        <h3>Award Winning</h3>
                        <p>
                          Watch your favorite movie and listen to exclusive
                          playlist from your favourite celebrity, We're excited
                          to have you on our team.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 30px">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div
                    class="wpb_wrapper wow fadeInRight animated"
                    data-wow-delay=".75s"
                    style="
                      visibility: visible;
                      animation-delay: 0.75s;
                      animation-name: fadeInRight;
                    "
                  >
                    <!-- OT Info Apps 2 -->
                    <div class="box-icon">
                      <span
                        class="icon wow fadeIn animated"
                        data-wow-delay='"1s"'
                        style="visibility: visible; animation-name: fadeIn"
                      >
                        <i class="id-color icon-chat"></i>
                      </span>

                      <div class="text">
                        <h3>Special propositions</h3>
                        <p>
                          Receive special offers, first listening to music,
                          Listen to your favourites artist new songs before it
                          is released.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div
                    class="wpb_wrapper wow fadeInRight animated"
                    data-wow-delay="1s"
                    style="
                      visibility: visible;
                      animation-delay: 1s;
                      animation-name: fadeInRight;
                    "
                  >
                    <!-- OT Info Apps 2 -->
                    <div class="box-icon">
                      <span
                        class="icon wow fadeIn animated"
                        data-wow-delay='"1.75s"'
                        style="visibility: visible; animation-name: fadeIn"
                      >
                        <i class="id-color icon-envelope"></i>
                      </span>

                      <div class="text">
                        <h3>24 / 7 Support</h3>
                        <p>
                          Get the local movie listings, special promotional
                          offers, contests and other movie-related benefits.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 30px">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="wpb_row vc_row-fluid bg-color text-dark text-center vc_custom_1480073166455"
>
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <!-- Element: OT Typing Text -->
            <div
              class="typing-wrap"
              data-id="6468dcf75d96f"
              data-cursorchar="|"
              data-speed="100"
              data-delay="1500"
            >
              <div class="typed-strings" style="display: none">
                <p>Meet Celebrity</p>
                <p>Private Contact</p>
                <p>Celebrity Vacation</p>
                <p>Backstage Access</p>
              </div>
              <span class="typed-6468dcf75d96f">Backstage Access</span
              ><span class="typed-cursor">|</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
