{% load static %}

<section
  data-stellar-background-ratio="-.1"
  class="wpb_row vc_row-fluid no-relative full-height vc_custom_1662870708441 vc_row-has-fill stellar-fixed full-height no-padding row-relative"
  style="height: 620px; background-position: 50% 134.5px"
>
  <div class="section-video-container-wrapper">
    <video
      id="video_background"
      preload="auto"
      autoplay=""
      muted=""
      loop="loop"
      poster="{% static "/images/ccbg.jpg" %}"
    >
      <source
        src="{% static "/images/keanuscene.webm" %}"
        type="video/webm"
      />
    </video>
  </div>
  <div class="sep-background-mask html5overlay"></div>
  <div class="row">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <!-- Element: OT Home Parallax Image Landing -->

          <div
            class="center-y text-center"
            style="margin-top: 112px; opacity: 0.135824"
          >
            <div class="spacer-double"></div>

            <h1 class="title">BRING <strong>Magic</strong> HOME</h1>

            <div class="spacer-single"></div>

            <a
              href="{% url 'fan_card' %}"
              class="btn-slider scroll-to __mPS2id"
              title="JOIN CLUB"
              target="_self"
              >JOIN CLUB</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
