{% extends 'club/base/base.html' %} 
{% load static %}
{% block body %}

<section
  id="subheader"
  data-speed="8"
  data-type="background"
  class="padding-top-bottom"
  style="background-image: url('{% static "/images/ccbg.jpg" %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap">
          <h1>{{ celeb_detail.celebrity_name }}</h1>
        </div>
        <ul id="breadcrumbs" class="crumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>
            <a href="#">Service</a>
          </li>
          <li class="active">{{ celeb_detail.celebrity_name }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<div id="content">
  <div class="container">
    <div class="row">

      {% comment %} <div class="col-md-3">
        <ul id="services-list" class="menu">
          <li
            id="menu-item-1614"
            class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1614"
          >
            <a href="https://mycelebrityclub.com/service/luke-grimes/"
              >Luke Grimes</a
            >
          </li>
          <li
            id="menu-item-1613"
            class="menu-item menu-item-type-post_type menu-item-object-service current-menu-item menu-item-1613"
          >
            <a
              href="https://mycelebrityclub.com/service/keanu-reeves/"
              aria-current="page"
              >Keanu Reeves</a
            >
          </li>
          <li
            id="menu-item-1615"
            class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1615"
          >
            <a href="https://mycelebrityclub.com/service/jason-beghe/"
              >Jason Beghe</a
            >
          </li>
          <li
            id="menu-item-1616"
            class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1616"
          >
            <a href="https://mycelebrityclub.com/service/sandra-bullock/"
              >Sandra Bullock</a
            >
          </li>
          <li
            id="menu-item-1727"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1727"
          >
            <a href="https://mycelebrityclub.com/service/kevin-costner"
              >Kevin Costner</a
            >
          </li>
        </ul>
      </div> {% endcomment %}

      <div class="col-md-12">
        <section
          class="wpb_row vc_row-fluid vc_custom_1662920810351 vc_row-o-content-bottom vc_row-flex no-padding"
        >
          <div class="row">
            <div class="wpb_column vc_column_container vc_col-sm-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div
                    class="wpb_single_image wpb_content_element vc_align_left"
                  >
                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper vc_box_border_grey">
                        <img
                          width="1000"
                          height="1600"
                          src="{{ celeb_detail.imageURL }}"
                          class="vc_single_image-img attachment-full"
                          alt=""
                          decoding="async"
                          loading="lazy"
                          title="keanureeves2"
                          sizes="(max-width: 1000px) 100vw, 1000px"
                        />
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <h1><strong>{{ celeb_detail.celebrity_name }}</strong></h1>
                      <blockquote><p>&nbsp;</p></blockquote>
                      <p>
                        {{ celeb_detail.about }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="wpb_row vc_row-fluid">
          <div class="container">
            <div class="row">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <!-- Element: OT Button -->
                    <a
                      href="{% url 'meet_greet' %}"
                      target="_self"
                      class="btn btn-line-primary btn-big vc_custom_1663114822648"
                      >Meet {{celeb_detail.celebrity_name}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}