{% load static %}

<section class="wpb_row vc_row-fluid">
  <div class="container">
    <div class="row">
      <div class="mt-70 wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <!-- Element: OT Services Grid -->
            <div
              class="services-masonry service-grid row"
              style="position: relative; height: 1140.72px"
            >
            {% for celeb in celeb %}
              <div class="col-md-4 item-service-grid-sizer"></div>

              <div
                class="col-md-4 item"
                style="position: absolute; left: 0px; top: 0px"
              >
                <a href="https://mycelebrityclub.com/service/keanu-reeves/"
                  ><img
                    width="1024"
                    height="897"
                    src="{{ celeb.imageURL }}"
                    class="img-responsive wp-post-image"
                    alt=""
                    decoding="async"
                    sizes="(max-width: 1024px) 100vw, 1024px"
                    title="Keanu-Reeves"
                /></a>
                <div class="spacer-single"></div>

                <h3>
                  <a href="https://mycelebrityclub.com/service/keanu-reeves/"
                    >{{ celeb.celebrity_name }}</a
                  >
                </h3>
                <div class="service-excerpt">
                  <p>
                    {{ celeb.about }}
                  </p>
                </div>
                <div class="spacer-single-10"></div>
                <a
                  href="https://mycelebrityclub.com/service/keanu-reeves/"
                  class="btn-line btn-fullwidth"
                  >VIEW CELEBRITY</a
                >
              </div>
              {% endfor %}
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
