{% extends 'club/base/base.html' %} 
{% load static %}
{% block body %}

<!-- subheader begin -->
<section
  id="subheader"
  data-speed="8"
  data-type="background"
  
  style="background-image: url('{% static "/images/ccbg.jpg" %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap">
          <h1>Celebrity List</h1>
        </div>
        <ul id="breadcrumbs" class="crumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Celebrity List</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<section class="wpb_row vc_row-fluid vc_custom_1466766141111 no-padding">
  <div class="row">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <!-- Element: OT Services List -->

          <section
            class="side-bg no-padding service-list"
            id="section-service-2"
          >

          {% for celebs in celebs %}
            <div
              class="image-container col-md-5 pull-left hidden-xs"
              data-delay="0"
            >

            <!-- Desktop views -->
              <div>
                <img
                  width="400"
                  height="897"
                  src="{{ celebs.imageURL }}"
                  class="img-responsive wp-post-image"
                  alt=""
                  decoding="async"
                  sizes="(max-width: 1024px) 100vw, 1024px"
                  title="Luke Grimes"
                />
              </div>
            </div>

            <!-- Mobile views -->

            <div class="visible-xs mb-30" data-delay="0">
              <img
                width="1024"
                height="821"
                src="{{ celebs.imageURL }}"
                class="img-responsive wp-post-image"
                alt=""
                decoding="async"
                loading="lazy"
                sizes="(max-width: 1024px) 100vw, 1024px"
                title="Luke-Grimes"
              />
            </div>

            <div class="container">
              <div class="row">
                <div class="inner-padding">
                  <div
                    data-wow-delay=".5s"
                    class="col-md-6 col-md-offset-6 wow fadeInRight"
                  >
                    <h3 class="id-color">{{ celebs.celebrity_name }}</h3>
                    <div class="service-excerpt">
                      <p>
                        {{ celebs.about }}
                      </p>
                    </div>
                    <div class="spacer-single"></div>
                    <a
                      class="btn-line"
                      href="https://mycelebrityclub.com/service/luke-grimes/"
                      >Read More</a
                    >
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          {% endfor %}
          </section>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
