{% extends 'club/base/base.html' %} {% block body %}
{% load static %}

<!-- subheader begin -->
<section
  id="subheader"
  data-speed="8"
  data-type="background"
  style="background-image: url('{% static "/images/ccbg.jpg" %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap">
          <h1>Contact</h1>
        </div>
        <ul id="breadcrumbs" class="crumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Contact</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<section class="wpb_row vc_row-fluid vc_custom_1662992077959">
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container vc_col-sm-8">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div class="vc_empty_space" style="height: 32px">
              <span class="vc_empty_space_inner"></span>
            </div>
            <!-- Element: OT Heading -->
            <h3 class="ot_custom_heading" style="">SEND US MESSAGE</h3>
            <div class="vc_empty_space" style="height: 32px">
              <span class="vc_empty_space_inner"></span>
            </div>
            <div
              class="wpcf7 no-js"
              id="wpcf7-f283-p256-o1"
              lang="en-US"
              dir="ltr"
            >
              <div class="screen-reader-response">
                <p role="status" aria-live="polite" aria-atomic="true"></p>
                <ul></ul>
              </div>

              <form action="" class="contact1-form validate-form" method="POST">
                <div class="row">
                  {% csrf_token %}
                  {% comment %} <span class="contact1-form-title">
                    Get in touch
                  </span> {% endcomment %}
                  <div class="col-md-4">
                    <div class="wrap-input1 validate-input" data-validate="Name is required">
                        <input class="input1" type="text" name="name" {% if form.is_bound %}value="{{ form.name.value }}"{% endif %} placeholder="Fullame">
                        <span class="shadow-input1"></span>
                        {% for err in form.name.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>
        
                    <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input1" type="text" name="email" {% if form.is_bound %}value="{{ form.email.value }}"{% endif %} placeholder="Email">
                        <span class="shadow-input1"></span>
                        {% for err in form.email.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>
        
                    <div class="wrap-input1 validate-input" data-validate="Subject is required">
                        <input class="input1" type="text" name="phone" {% if form.is_bound %}value="{{ form.phone.value }}"{% endif %} placeholder="Phone Number">
                        <span class="shadow-input1"></span>
                        {% for err in form.phone.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>
                  </div>
                  
                  <div class="col-md-8">
                    <div class="wrap-input1 validate-input" data-validate="Message is required">
                        <textarea class="input1" name="message" placeholder="Message">{% if form.is_bound %}{{ form.message.value }}{% endif %}</textarea>
                        <span class="shadow-input1"></span>
                        {% for err in form.message.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>
                  </div>

                  {% comment %} <div class="col-md-4">  
                    <div class="form-group clearfix ">
                      <button type="submit" class="btn pull-right btn-default" id="form-contact-submit">Send a Message</button>
                    </div>
                  </div> {% endcomment %}

                  <div class="col-md-12">
                    <p id="submit">
                      <input
                        class="wpcf7-form-control has-spinner wpcf7-submit btn-line"
                        type="submit"
                        value="Send a Message"
                      />
                    </p>
                  </div> 
                  
                </div>                
              </form>

            </div>
            <div class="vc_empty_space" style="height: 150px">
              <span class="vc_empty_space_inner"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner vc_custom_1662996475521">
          <div class="wpb_wrapper">
            <!-- Element: OT Heading -->
            <h3 class="ot_custom_heading" style="">CONTACT INFO</h3>

            <div class="wpb_text_column wpb_content_element">
              <div class="wpb_wrapper">
                <address>
                  <div>Universal City, California, United States</div>
                  <div>
                    <strong>Email:</strong
                    ><a href="mailto:support@mycelebrityclub.com"
                      >  support@mycelebrityclub.com</a
                    >
                  </div>
                  <div>
                    <strong>Web:</strong
                    ><a href="https://mycelebrityclub.com">
                      https://mycelebrityclub.com</a
                    >
                  </div>
                  <div>
                    <strong>Open </strong>Sunday &#8211; Saturday 06:00am
                    &#8211; 10:00pm
                  </div>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
