{% extends 'club/base/base.html' %}
{% load static %}

{% block body %}

<!-- subheader begin -->
<section
  id="subheader"
  data-speed="8"
  data-type="background"
  style="background-image: url('{% static "/images/ccbg.jpg" %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap">
          <h1>Fan Card</h1>
          <h4>Join the top celebrity club</h4>
        </div>
        <ul id="breadcrumbs" class="crumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Fan Card</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<section class="wpb_row vc_row-fluid vc_custom_1496129623587">
  <div class="container">
    <div class="row">
      {% for plan in plan %}
      <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <!-- Element: OT Pricing Tables 2 -->
            <div class="pricing-s1 mb30">
              <div class="ribbon"> {% if plan.recommend == True %} Recommend{% endif %}</div>
              <div class="top">
                <h2>{{ plan.name }}</h2>
                <p class="price">
                  <span class="currency">$</span> <b>{{plan.amount}}</b>
                  <span class="month"></span>
                </p>
              </div>
              <div class="bottom">
                <ul>
                  <li>{{plan.option_one}}</li>
                  <li>{{plan.option_two}}</li>
                </ul>

                <a
                  href="{% url 'fancard_app' plan.slug %}"
                  title="GET CARD"
                  target="_self"
                  class="btn btn-custom"
                  >GET CARD</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}