{% extends 'club/base/base.html' %}
{% load static %}
{% block body %}


<!-- subheader begin -->
<section
  id="subheader"
  data-speed="8"
  data-type="background"
  style="background-image: url('{% static "/images/ccbg.jpg" %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap">
          <h1>Meet &#038; Greet</h1>
        </div>
        <ul id="breadcrumbs" class="crumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Meet &#038; Greet</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<section class="wpb_row vc_row-fluid vc_custom_1496651667970">
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <!-- Element: OT Heading -->
            <h3 class="ot_custom_heading" style="">
              APPLY FOR MEET &amp; GREET
            </h3>
            <div class="vc_empty_space" style="height: 10px">
              <span class="vc_empty_space_inner"></span>
            </div>
            <div class="wpb_text_column wpb_content_element">
              <div class="wpb_wrapper">
                <p>
                  More information about your fees will be sent to you. Kindly
                  message us on the live chat after submitting the form below
                </p>
              </div>
            </div>
            <div class="vc_empty_space" style="height: 10px">
              <span class="vc_empty_space_inner"></span>
            </div>
            <!-- Element: OT Typing Text -->
            <div
              class="typing-wrap"
              data-id="6469f276c39fb"
              data-cursorchar="|"
              data-speed="100"
              data-delay="1500"
            >
              <div class="typed-strings">
                <p>Date Night With Your Favourite Celebrity</p>
                <p>Party On Weekends With Your Favourite Celebrity</p>
                <p>Have Dinner With Your Celebrity Crush</p>
              </div>
              <span class="typed-6469f276c39fb"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wpb_row vc_row-fluid vc_custom_1438577300524">
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <!-- Element: OT Heading -->
            <h3 class="ot_custom_heading" style="">APPLICATION FORM</h3>
            <div class="vc_empty_space" style="height: 10px">
              <span class="vc_empty_space_inner"></span>
            </div>
            <div
              class="wpcf7 no-js"
              id="wpcf7-f1762-p1561-o1"
              lang="en-US"
              dir="ltr"
            >
              <div class="screen-reader-response">
                <p role="status" aria-live="polite" aria-atomic="true"></p>
                <ul></ul>
              </div>

              {% comment %} <form
                action="/meet-and-greet/#wpcf7-f1762-p1561-o1"
                method="post"
                class="wpcf7-form init"
                aria-label="Contact form"
                novalidate="novalidate"
                data-status="init"
              >
                <div style="display: none">
                  <input type="hidden" name="_wpcf7" value="1762" />
                  <input type="hidden" name="_wpcf7_version" value="5.7.6" />
                  <input type="hidden" name="_wpcf7_locale" value="en_US" />
                  <input
                    type="hidden"
                    name="_wpcf7_unit_tag"
                    value="wpcf7-f1762-p1561-o1"
                  />
                  <input
                    type="hidden"
                    name="_wpcf7_container_post"
                    value="1561"
                  />
                  <input
                    type="hidden"
                    name="_wpcf7_posted_data_hash"
                    value=""
                  />
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="first-name"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="First Name"
                            value=""
                            type="text"
                            name="first-name"
                        /></span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="last-name"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Last Name"
                            value=""
                            type="text"
                            name="last-name"
                        /></span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-email"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Email"
                            value=""
                            type="email"
                            name="your-email"
                        /></span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-phone"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Phone"
                            value=""
                            type="tel"
                            name="your-phone"
                        /></span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-age"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Age"
                            value=""
                            type="text"
                            name="your-age"
                        /></span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-country"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Your Country"
                            value=""
                            type="text"
                            name="your-country"
                        /></span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-city"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="City"
                            value=""
                            type="text"
                            name="your-city"
                        /></span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-celebrity"
                          ><input
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Celebrity"
                            value=""
                            type="text"
                            name="your-celebrity"
                        /></span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div>
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-purpose"
                        >
                          <textarea
                            cols="40"
                            rows="10"
                            class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Purpose"
                            name="your-purpose"
                          ></textarea>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <p id="submit">
                      <input
                        class="wpcf7-form-control has-spinner wpcf7-submit btn-line"
                        type="submit"
                        value="Submit Application"
                      />
                    </p>
                  </div>
                </div>
                <div class="wpcf7-response-output" aria-hidden="true"></div>
              </form> {% endcomment %}

              <form action="" class="contact1-form validate-form" method="POST">
                <div class="row">
                  {% csrf_token %}
                  {% comment %} <span class="contact1-form-title">
                    Get in touch
                  </span> {% endcomment %}
                  <div class="col-md-4">
                    <div class="wrap-input1 validate-input" data-validate="Name is required">
                        <input class="input1" type="text" name="name" {% if form.is_bound %}value="{{ form.name.value }}"{% endif %} placeholder="Fullname">
                        <span class="shadow-input1"></span>
                        {% for err in form.name.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>
        
                    <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input1" type="text" name="email" {% if form.is_bound %}value="{{ form.email.value }}"{% endif %} placeholder="Email">
                        <span class="shadow-input1"></span>
                        {% for err in form.email.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>
        
                    <div class="wrap-input1 validate-input" data-validate="Phone is required">
                        <input class="input1" type="text" name="phone" {% if form.is_bound %}value="{{ form.phone.value }}"{% endif %} placeholder="Phone Number">
                        <span class="shadow-input1"></span>
                        {% for err in form.phone.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>

                    <div class="wrap-input1 validate-input" data-validate="Country is required">
                      <input class="input1" type="text" name="country" {% if form.is_bound %}value="{{ form.country.value }}"{% endif %} placeholder="Country">
                      <span class="shadow-input1"></span>
                      {% for err in form.country.errors %}
                          <small class="text-danger ml-2">{{ err }}</small><br>
                      {% endfor %}
                    </div>

                    <div class="wrap-input1 validate-input" data-validate="Celebrity is required">
                      <input class="input1" type="text" name="celebrity" {% if form.is_bound %}value="{{ form.celebrity.value }}"{% endif %} placeholder="Celebrity">
                      <span class="shadow-input1"></span>
                      {% for err in form.celebrity.errors %}
                          <small class="text-danger ml-2">{{ err }}</small><br>
                      {% endfor %}
                    </div>

                  
                  </div>
                  
                  <div class="col-md-8">
                    <div class="wrap-input1 validate-input" data-validate="Message is required">
                        <textarea class="input1" name="message" placeholder="Message">{% if form.is_bound %}{{ form.message.value }}{% endif %}</textarea>
                        <span class="shadow-input1"></span>
                        {% for err in form.message.errors %}
                            <small class="text-danger ml-2">{{ err }}</small><br>
                        {% endfor %}
                    </div>
                  </div>

                  {% comment %} <div class="col-md-4">  
                    <div class="form-group clearfix ">
                      <button type="submit" class="btn pull-right btn-default" id="form-contact-submit">Submit Application</button>
                    </div>
                  </div> {% endcomment %}

                  <div class="col-md-12">
                    <p id="submit">
                      <input
                        class="wpcf7-form-control has-spinner wpcf7-submit btn-line"
                        type="submit"
                        value="Submit Application"
                      />
                    </p>
                  </div> 
                  
                </div>                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}